.product-details {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
  display: grid;
  grid-template-columns: 200px auto;
  grid-column-gap: 20px;
}

.product-img {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.product-img img {
  width: 200px;
  height: 300px;
  overflow: hidden;
}

.product-authors,
.product-genre {
  color: grey;
  font-size: 16px;
}

.product-authors span,
.product-genre span {
  font-weight: 500;
}

.product-authors {
  margin-bottom: 5px;
}

.product-title {
  font-size: 23px;
  margin-bottom: 5px;
}

.product-rating {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: grey;
  margin-bottom: 15px;
}

.product-rating .product-rating-text {
  font-size: 15px;
}

.product-rating-text span {
  margin: 0 1px;
}

.product-price {
  margin: 20px 0 15px 0;
}

.product-sale {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.product-actual-price {
  color: rgba(128, 128, 128, 0.5);
  text-decoration: line-through;
  font-size: 17px;
  font-weight: 500;
}

.product-sale-price {
  font-weight: 600;
  font-size: 25px;
}

.product-sale-off {
  font-size: 14px;
  font-weight: 600;
}

.product-add {
  margin-bottom: 15px;
}

.product-add button {
  padding: 13px;
  font-size: 15px;
  color: white;
  background-color: var(--danger);
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(145, 145, 145, 0.2);
  cursor: pointer;
}

.product-text {
  color: grey;
  font-size: 13.5px;
  line-height: 2;
}

.product-text img {
  margin-right: 5px;
}

.product-description h3 {
  font-size: 20px;
}

.description {
  font-size: 14px;
  line-height: 1.5;
  /* text-indent: 30px; */
  text-align: justify;
}

.description p {
  margin-top: 10px;
}

@media (max-width: 576px) {
}

@media (max-width: 767px) {
  .product-details {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }

  .product-img {
    width: 100%;
    height: auto;
  }

  .product-img img {
    width: 100%;
    height: auto;
  }

  .product-title {
    margin: 10px 0;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
