.ftco-section {
  padding: 7em 0;
}

.login-wrap {
  position: relative;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}
.login-wrap h3 {
  font-weight: 300;
}
.login-wrap .icon {
  width: 80px;
  height: 80px;
  background: #1089ff;
  border-radius: 50%;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.login-wrap .icon span {
  color: #fff;
}
.login-form-group {
  margin-bottom: 0.75em;
}

.login-form-group input {
  /* width: 350px; */
  height: 45px;
}

.login-form-group button {
  height: 40px;
}

.card-text {
  line-height: 1.6;
}